@model Lesson1.SQL_Injecrion.DAL.Models.Card

@{
    ViewData["Title"] = "CardDataRequest";
}

<h1>CardDataRequest</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CardDataRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumbCard" class="control-label"></label>
                <input asp-for="NumbCard" class="form-control" />
                <span asp-validation-for="NumbCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV_CVC" class="control-label"></label>
                <input asp-for="CVV_CVC" class="form-control" />
                <span asp-validation-for="CVV_CVC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardOwner" class="control-label"></label>
                <input asp-for="CardOwner" class="form-control" />
                <span asp-validation-for="CardOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Validity" class="control-label"></label>
                <input asp-for="Validity" class="form-control" />
                <span asp-validation-for="Validity" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
