@model Lesson1.SQL_Injecrion.DAL.Models.Card

@{
    ViewData["Title"] = "AddCardDataRquest";
}

<h1>CardDataRequest</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using Lesson1.SQL_Injecrion.DAL.Models

        <div class="form-group">
            <label class="control-label">Номер карты: @Model.NumbCard</label>
            <span asp-validation-for="NumbCard" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  class="control-label">CVV/CVC: @Model.CVV_CVC</label>
            <span asp-validation-for="CVV_CVC" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label  class="control-label">Держатель карты: @Model.CardOwner</label>
            <span asp-validation-for="CardOwner" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Срок действия карты: @Model.Validity</label>
            <span asp-validation-for="Validity" class="text-danger"></span>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
